# Assignment Day 2

# List and its Functions

In [122]:
lst = ["dhanesh",27,"vashisth",1993,"august",[98,13,55,88,66],5.8]

In [123]:
lst

['dhanesh', 27, 'vashisth', 1993, 'august', [98, 13, 55, 88, 66], 5.8]

In [124]:
lst[-2][2] #accessing the item form list's sub list in reverse order

55

In [125]:
lst.append('dv') #using append fucntion add a string in the list.

In [126]:
lst

['dhanesh', 27, 'vashisth', 1993, 'august', [98, 13, 55, 88, 66], 5.8, 'dv']

In [127]:
lst.copy()

['dhanesh', 27, 'vashisth', 1993, 'august', [98, 13, 55, 88, 66], 5.8, 'dv']

In [128]:
lst.reverse() # used to reverse the the list

In [130]:
lst.copy() # for copying the list

['dv', 5.8, [98, 13, 55, 88, 66], 'august', 1993, 'vashisth', 27, 'dhanesh']

In [133]:
lst.index(27)    #Returns the index of the element with the specified value

6

In [134]:
lst.pop(0)    #Removes the element at the specified position

'dv'

In [135]:
lst

[5.8, [98, 13, 55, 88, 66], 'august', 1993, 'vashisth', 27, 'dhanesh']

# Dictionary and its functions

In [138]:
dit ={"name":"dhanesh", "lastname":"vashisth", "age":"27", "number":9813558866, "institute":"letsupgrade", "email":"dhaneshvashisth@gmail.com"}

In [139]:
dit

{'name': 'dhanesh',
 'lastname': 'vashisth',
 'age': '27',
 'number': 9813558866,
 'institute': 'letsupgrade',
 'email': 'dhaneshvashisth@gmail.com'}

In [140]:
dit.fromkeys("institute")   #Returns a dictionary with the specified keys and value, and there is no repeation

{'i': None, 'n': None, 's': None, 't': None, 'u': None, 'e': None}

In [141]:
dit.items()    #Returns a list containing a tuple for each key value pair

dict_items([('name', 'dhanesh'), ('lastname', 'vashisth'), ('age', '27'), ('number', 9813558866), ('institute', 'letsupgrade'), ('email', 'dhaneshvashisth@gmail.com')])

In [142]:
dit["city"] ="hisar"    # for adding a key and value

In [143]:
dit

{'name': 'dhanesh',
 'lastname': 'vashisth',
 'age': '27',
 'number': 9813558866,
 'institute': 'letsupgrade',
 'email': 'dhaneshvashisth@gmail.com',
 'city': 'hisar'}

In [144]:
dit.keys()    #	Returns a list containing the dictionary's keys

dict_keys(['name', 'lastname', 'age', 'number', 'institute', 'email', 'city'])

In [145]:
dit.values()     #Returns a list of all the values in the dictionary

dict_values(['dhanesh', 'vashisth', '27', 9813558866, 'letsupgrade', 'dhaneshvashisth@gmail.com', 'hisar'])

# Tuple and its functions

In [146]:
#Tuples are sequences, just like lists.

In [151]:
tup = ("dhanesh", "vashisth", "@", "gmail", ".com", "gmail")

In [152]:
tup

('dhanesh', 'vashisth', '@', 'gmail', '.com', 'gmail')

In [153]:
tup.count("gmail")     #Returns the number of times a specified value occurs in a tuple

2

In [154]:
tup.index("@")       #Searches the tuple for a specified value and returns the position of where it was found

2

# String and its functions

In [155]:
str = "my name is dhanesh vashisth and i am an indian"

In [156]:
str

'my name is dhanesh vashisth and i am an indian'

In [158]:
str.title()    #Converts the first character of each word to upper case

'My Name Is Dhanesh Vashisth And I Am An Indian'

In [159]:
str.rfind("dhanesh")    #Searches the string for a specified value and returns the last position of where it was found

11

In [160]:
str

'my name is dhanesh vashisth and i am an indian'

In [167]:
print(str[12])        # as in above string if we want to know the character on particular postion

h

In [169]:
str.rpartition("dhanesh vashisth")       # divides the string in thre parts and make selected value in one part

('my name is ', 'dhanesh vashisth', ' and i am an indian')

In [170]:
str.split()     #Splits the string at the specified separator, and returns a list

['my', 'name', 'is', 'dhanesh', 'vashisth', 'and', 'i', 'am', 'an', 'indian']

# Sets and its Functions

In [171]:
set = {"maruti","toyota","kia","jeep","hyundai"}

In [172]:
set

{'hyundai', 'jeep', 'kia', 'maruti', 'toyota'}

In [173]:
set.add("tata")    #adding an element o the set

In [174]:
set

{'hyundai', 'jeep', 'kia', 'maruti', 'tata', 'toyota'}

In [175]:
set.discard("kia")    #for removing the specified element

In [176]:
set

{'hyundai', 'jeep', 'maruti', 'tata', 'toyota'}

In [180]:
set1 ={"honda", "suzuki", "audi", "tata",}

In [181]:
set.update(set1)    # for updating a different set into previous one

In [183]:
set

{'audi', 'honda', 'hyundai', 'jeep', 'maruti', 'suzuki', 'tata', 'toyota'}

In [184]:
set1

{'audi', 'honda', 'suzuki', 'tata'}

In [185]:
set.difference_update(set1) #Removes the items in this set that are also included in another, specified set

In [186]:
set

{'hyundai', 'jeep', 'maruti', 'toyota'}

In [187]:
set.clear()    #clear all the set

In [188]:
set

set()